.placeholder {
    border: 1px dotted #cdcdcd;
    height: 120px;
    box-shadow: 0px 0px 10px #888;
    border-radius: 10px;
}

.card {
    height: 120px;
    border: 1px solid #cdcdcd;
    background-color: white;
    cursor: pointer;
    border-radius: 7px;
    margin: 2px;
    background-color: #cdcdcd;
}

.drop {
    overflow-y: auto;
    height: 500px;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
}

p {
    margin:8px;
}

.designation {
    color: #337ab7;
    font-weight: bold;
}


