@{
    ViewBag.Title = "IssueTrack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    @*@Scripts.Render("~/scripts/RequestForPartial.js")*@
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Choose project name:</h3>
                </div>
                <div class="panel-body">
                    @Html.DropDownList("ProjectsList", ViewBag.Projects as SelectList, new { id = "projectidForAjax", @class = "form-control" })
                </div>
                <div class="row">
                    <div class="col" id="partialDivForAjax">
                        @Html.Partial("_GetIssueDataPartial")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-10">
                    <button type="button" class="btn btn-dark">Create issue</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#projectidForAjax').change(function () {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetIssueData")/' + id,
                    success: function (data) {
                        $('#partialDivForAjax div').replaceWith(data);
                    }
                });
            });
        })
    </script>
}
