@{
    ViewBag.Title = "IssueTrack";
}

<div class="form-group">
    <div class="col">
        <label for="projectNameLabel">Choose project name:</label>
        @Html.DropDownList("ProjectsList", ViewBag.Projects as SelectList, new { id = "projectidForAjax" })
    </div>
    <label for="issueLabel">Issues list:</label>
    <div class="col" id="partialDivForAjax">
        @Html.Partial("_GetIssueDataPartial")
    </div>
    <button type="button" class="btn btn-outline-secondary">Create issue</button>
</div>

@*<script>
        function ShowListIssues() {
            var selectProjectIdForIssue = document.getElementById('selectId');
            var optionSelectProjectIdForIssue = selectProjectIdForIssue.options[selectProjectIdForIssue.selectedIndex].id;
            window.location.href = "/Home/GetIssueData/" + optionSelectProjectIdForIssue;
        }
    </script>*@


@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#projectidForAjax').change(function () {
                // get id
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetIssueData")/' + id,
                    success: function (data) {
                        // replace table
                        $('#partialDivForAjax').replaceWith(data);
                    }
                });
            });
        })
    </script>
}
