@{
    ViewBag.Title = "IssueTracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DROPDOWN -->
<div class="row">
    <div class="col-lg-12">
        <h3>Choose project name:</h3>
        <div class="panel-body">
            @Html.DropDownList("ProjectsList", ViewBag.Projects as SelectList, "Choose project...", new { id = "projectidForAjax", @class = "form-control" })
        </div>
    </div>
</div>
<!-- TABLE -->
<div class="row">
    <div class="col-lg-12">
        <div id="partialDivForAjax">
            <h3>Issues list:</h3>
            <div class="panel-body">
                @Html.Partial("~/Views/Home/TableDataPartial.cshtml")
            </div>
        </div>
    </div>
</div>
<!-- BUTTON -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel-body">
            <button type="button" id="createButton" class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#issue">Create</button>
        </div>
    </div>
</div>
<!-- FORM -->
<div id="issue" class="modal fade">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="dialogContent"></div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#projectidForAjax').change(function () {
                var projectId = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetProjectIssues")/' + projectId,
                    success: function (data) {
                        $('#partialDivForAjax table').replaceWith(data);
                    }
                });
            });

            $('#createButton').click(function () {
                var issueId = $("#projectidForAjax").val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("OpenWindowForCreateIssue")/' + issueId,
                    success: function (data) {
                        $('#dialogContent').html(data);
                        $('#issue').modal('show');
                    }
                });
            });
        })
    </script>
}
