@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src='@Url.Content("~/Scripts/jquery-ui-1.10.2.min.js")' type="text/javascript"></script>
<style>
    .placeholder { /*навороты*/
        border: 1px dotted gray;
        height: 100px;
        box-shadow: 0px 0px 10px #888;
    }

    .field {
        width: 254px;
        float: left;
        clear: right;
        height: 700px;
        margin: 30px;
    }

    .card {
        height: 100px;
        border: 1px groove black;
        background-color: white;
        cursor: pointer;
    }

    .sortable {
        height: 700px;
        border: 1px groove black;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <h3>Choose project name:</h3>
        <div class="panel-body">
            @Html.DropDownList("ProjectsList", ViewBag.Projects as SelectList, "Choose project...", new { id = "projectidForAjax", @class = "form-control" })
        </div>
    </div>
</div>
<div class="row" id="replace">
    @Html.Partial("~/Views/Home/ProjectIssuesForKanban.cshtml")
</div>

<script type="text/javascript">
    $(function () {
        $('#projectidForAjax').change(function () {
            var projectId = $(this).val();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetProjectIssuesForKanban")/' + projectId,
                success: function (data) {
                    $('#replace div.col-lg-12').replaceWith(data);
                }
            });
        });
    });
</script>