@{
    ViewBag.Title = "Kanban";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h3>Choose project name:</h3>
        <div class="panel-body">
            @Html.DropDownList("ProjectsList", ViewBag.Projects as SelectList, "Choose project...", new { id = "projectidForAjax", @class = "form-control" })
        </div>
    </div>
</div>
<div class="row" id="projectsIssues">
    @Html.Partial("~/Views/Home/ProjectIssuesForKanban.cshtml")
</div>

@section scripts{
    @Scripts.Render("~/scripts/jquery-ui-1.10.2.min.js")
    <script type="text/javascript">
        $(function () {
            $('#projectidForAjax').change(function () {
                var projectId = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetProjectIssuesForKanban")/' + projectId,
                    success: function (data) {
                        $('#projectsIssues>div').replaceWith(data);
                    }
                });
                var firstChild = $(this).children().eq(0);
                if (firstChild.prop('value') == '') firstChild.remove();
            });
        });
    </script>
}