@Model IssueTracker.Models.Project
<!-- FORM -->
<script>
    function loadPageforNew() {
        document.getElementById("LifeCycle").disabled = true;
        document.getElementById('ProjectName').readOnly = true;
        document.getElementById('Number').readOnly = true;
        document.getElementById('ProjectName').value = "@Model.Name";
        var codeIssue = "00000" + (@Model.Issues.Count +1);
        document.getElementById("Number").value = codeIssue;
    }
</script>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Create new issue</h4>
    </div>
    <form role="form" method="post" action="/Home/AddToDataBaseNewIssue">
        <input type="hidden" value="@Model.Id" name="ProjectId" />
        <input type="hidden" value="1" name="LifeCycleId" />
        @Html.Partial("~/Views/Home/PartialViewForCreateAndEdit.cshtml");
    </form>
</div>


