@Model IssueTracker.Models.Project
<!-- FORM -->
<script>
    function loadPageforNew() {
        document.getElementById("LifeCycleName").readOnly = true;
        document.getElementById('ProjectName').readOnly = true;
        document.getElementById('Number').readOnly = true;
        document.getElementById('ProjectName').value = "@Model.Name";
        document.getElementById("LifeCycleName").value = "New";
    }

    //function loadPageforEdit() {
    //    document.getElementByName('LifeCycleName').value = "";
    //    document.getElementByName('ProjectName').value = "";
    //    document.getElementByName('Number').value = ""
    //    document.getElementByName('Summary').value = data.Summary;
    //    document.getElementByName('Description').value = data.Description;
    //    document.getElementByName('Assignee').value = data.Assignee;
    //    document.getElementByName('Priority').value = data.Priority;
    //}
</script>

<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">×</button>
        <h4 class="modal-title">Create new issue</h4>
    </div>
    <form role="form" method="post" action="/Home/AddToDataBaseNewIssue">
        <input type="hidden" value="1" name="LifeCycleId" />
        <input type="hidden" value="@Model.Id" name="ProjectId" />
        <div class="modal-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-1">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="LifeCycleName">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-9">
                        <label for="NumberIssue">Project Name:</label>
                        <input type="text" class="form-control" id="ProjectName" name="ProjectName">
                    </div>
                    <div class="col-lg-3">
                        <label for="NumberIssue">Number:</label>
                        <input type="text" class="form-control" id="Number" name="Number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="SummaryIssue">Summary:</label>
                <input type="text" class="form-control" name="Summary">
            </div>
            <div class="form-group">
                <label for="DescriptionIssue">Description:</label>
                <textarea class="form-control" name="Description" rows="5"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="AssigneeIssue">Assignee:</label>
                        <input type="text" class="form-control" name="Assignee">
                    </div>
                    <div class="col-lg-6">
                        <label for="PriorityIssue">Priority</label>
                        <select class="form-control" name="Priority">
                            <option>Critical</option>
                            <option>High</option>
                            <option>Medium</option>
                            <option>Trivial</option>
                            <option>Low</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script> loadPageforNew()</script>
